<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="app">
            
            <div @click="show=!show">
                <p>
                    You can see me!
                </p>
                <p v-show="show">
                    Do you also see me?
                </p>
            </div>

            <div>
                <p v-if="number != 0">
                    1
                </p>
                <p v-else>
                    2
                </p>
            </div>

            <div>
                <template v-if="show">
                    <p>
                        You can see me!
                    </p>
                    <p>
                        Do you also see me?
                    </p>
                </template>
            </div>

            <div>
                <ul>
                    <li v-for="color in colors"> 
                        {{  color }}
                    </li>
                </ul>
            </div>
        </div>

        <script>

            new Vue({
                el: "#app",
                data: {
                    show: true,
                    number: 0,
                    colors: ["red", "blue", "green"]
                }
            })
        </script>
    </body>
</html>